{% extends 'logger/base.html' %}
<p>{% block title %}Logs{% endblock %}</p>
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> Logs </small></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Logs</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-header">
                            <div style="float: left;">
                                <h3 class="card-title">{{file}}</h3>
                            </div>
                            <div style="float: right;" class="row">
                                <div style="display: inline-block;">
                                    <div style="display: inline-block;">
                                        <!-- Filter button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Filter
                                            </button>
                                            <div class="dropdown-menu bg-success">
                                            <a class="dropdown-item bg-primary cat-all" href="#">All</a>
                                            <a class="dropdown-item bg-gray cat-1" href="#">Debug</a>
                                            <a class="dropdown-item bg-info cat-2" href="#">Info</a>
                                            <a class="dropdown-item bg-warning cat-3" href="#">Warning</a>
                                            <a class="dropdown-item bg-danger cat-4" href="#">Error</a>
                                            <a class="dropdown-item bg-maroon cat-5" href="#">Critical</a>
                                            </div>
                                        </div>
                                        <!-- Filter -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-striped"
                                style="word-wrap: break-word;">
                                <thead>
                                    <tr class="group-DEBUG group-INFO group-WARNING group-ERROR group-CRITICAL">
                                        <th>Log No</th>
                                        <!-- <th>Date</th> -->
                                        <th>Time</th>
                                        <th>Log Type</th>
                                        <th>Function</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for line in logs%}
                                    <tr class="group-{{line.log.split.0}}">
                                        <td>{{line.log_number}}</td>
                                        <!-- <td>{{line.log.split.1}}</td> -->
                                        <td>{{line.log.split.2}}</td>
                                        <td><span class="badge 
                                            {% if line.log.split.0 == 'ERROR' %}
                                            bg-danger
                                            {% elif line.log.split.0 == 'DEBUG' %}
                                            bg-gray
                                            {% elif line.log.split.0 == 'CRITICAL' %}
                                            bg-maroon
                                            {% else %}
                                            bg-{{line.log.split.0|lower}}
                                            {% endif %}
                                            ">{{line.log.split.0}}</span></td>
                                        <td>{{line.log.split.3}}</td>
                                        <td>{{line.message}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- Pagination -->
                            <nav>
                                {% if logs.has_other_pages %}
                                  <ul class="pagination justify-content-center mt-2">
                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{logs.number}}
                                  </button>
                                  <div class="dropdown-menu pre-scrollable" style="min-width: 60px;" aria-labelledby="dropdownMenuButton">
                                    {% for i in logs.paginator.page_range %}
                                        {% if i == logs.number %}
                                        <a class="dropdown-item active" href="{% url 'logs' file=file %}?page={{i}}">{{i}}</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{% url 'logs' file=file %}?page={{i}}">{{i}}</a>
                                        {% endif %}
                                    {% endfor %}
                                  </div>
                                  {% if logs.has_previous %}
                                  <li class="page-item">
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'logs' file=file %}?page=1">&laquo;</a>
                                    </li>
                                  </li>
                                  <li class="page-item">
                                    <a class="page-link" href="{% url 'logs' file=file %}?page={{logs.previous_page_number}}" aria-label="Previous">&lt;</a>
                                  </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">&lt;</a>
                                  </li>
                                  {% endif %}
                                  {% if logs.has_previous %}
                                  <li class="page-item"><a class="page-link" href="{% url 'logs' file=file %}?page={{logs.previous_page_number}}">{{logs.previous_page_number}}</a></li>
                                  {% endif %}
                                  <li class="page-item active"><a class="page-link" href="#">{{logs.number}}</a></li>
                                  {% if logs.has_next %}
                                  <li class="page-item"><a class="page-link" href="{% url 'logs' file=file %}?page={{logs.next_page_number}}">{{logs.next_page_number}}</a></li>
                                  {% endif %}
                                  {% if logs.has_next %}
                                  <li class="page-item">
                                    <a class="page-link" aria-level="next" href="{% url 'logs' file=file %}?page={{logs.next_page_number}}">&gt;</a>
                                    </a>
                                  </li>
                                  <li class="page-item">
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'logs' file=file %}?page={{total_pages}}">&raquo;</a>
                                    </li>
                                  </li>
                                  {% else %}
                                  <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">&gt;</a>
                                  </li>
                                  {% endif %}
                                </ul>
                                {% endif %}
                            </nav>
                            <!-- Pagination -->
                        </div>
                        <!-- /.card-body -->
                        
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
</div>
<!-- /.content-wrapper -->

{% endblock %}